<form id="alertPanel" action="#" method="post">
  <input id="AlertId" type="hidden" name="AlertId" value="{{Id}}" />
         
  <div class="message"></div>

  <div class="diagCol">
    
    {{AlertMessage}}

  </div>

</form>