{{#Alerts}}
  <div class="item alert-{{Id}} alertType-{{AlertType}}" id="alert-{{Id}}" data-alert="{{Id}}">
    <div class="inner">
		{{AlertMessage}}
		<br/>
		<a href="{{AlertLink}}">View</a>
		<br/>
	</div>
  </div>
{{/Alerts}}