@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="resetPasswordForm" class="form-horizontal">
    <fieldset>
        <legend>Reset Password</legend>

        <div class="alert display-none"></div>
        
        <p>Enter a new password for your account.</p>

        <div class="control-group">
            <label class="control-label">New Password</label>
            <div class="controls">
                <input type="password" name="Password" placeholder="New Password">
                    
                <input type="password" name="ConfirmPassword" placeholder="Confirm Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </fieldset>
</form>

@section scripts {
    <script type="text/javascript">
        ($(function () {
            var resetForm = $('#resetPasswordForm');
            var message = $('.alert', resetForm);

            // Setup user subscriptions
            var user = new User();

            user.subscribe(user.MESSAGE_RESETPASSWORD, function (resp) {
                resetForm.form('enable');
                
                if (resp.Success) {
                    message.hide().removeClass('alert-error')
                        .addClass('alert-success').html('Your password has been updated. ' +
                            'You may now <a href="/User/SignIn">sign in</a> with your new password.').fadeIn();
                } else {
                    message.hide().removeClass('alert-success')
                        .addClass('alert-error').html(resp.Errors.join('<br />')).fadeIn();
                }
            });

            resetForm.submit(function (e) {
                e.preventDefault();
                resetForm.form('disable');
                var formData = resetForm.serializeObject();
                formData.ResetToken = Honeypot.QueryString.token;
                user.resetPassword(formData);
            });
        }));
    </script>
} 