@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="generalPageWrapper">

    <ul class="faqpanels" id="slantedTabs">
        <li class="riders active"><span>Riders</span></li>
        <li class="drivers"><span>Drivers</span></li>
    </ul>
    
    <div class="faqpanel riders">
        @{ Html.RenderAction("Block", "Page", new { id="rider-faq"} ); }    
    </div>
    
    <div class="faqpanel drivers">
        @{ Html.RenderAction("Block", "Page", new { id="driver-faq"} ); }
    </div>

    <script>
        $(".faqpanels li").click(function (e) {

            $(".faqpanels li").toggleClass('active');

            $('.faqpanel').each(function () {
                $(this).css('display', 'none');
            });

            var panelSelect = ".faqpanel." + $(this).attr('class').split(' ')[0];
            CFC.Log(panelSelect);
            $(panelSelect).css('display', 'block');
            e.preventDefault();
        });
    </script>
</div>