<div id="editUserTemplate" style="display:none;">
    <form id="editUserPanel" action="#" method="post">
	    <div class="message"></div>

	    <ul>

            <li>
              <label>Role<span class="required">*</span></label>
              <select name="Role">
                <option value="">Select a Role...</option>
                <option value="2">Company Administrator</option>
                <option value="3">Dispatcher</option>
                <option value="4">Driver</option>
              </select>
            </li>
    
		    <li>
                <label for="FirstName">First Name<span class="required">*</span></label>
			    <input id="FirstName" name="FirstName" type="text" />
		    </li>

		    <li>
			    <label for="LastName">Last Name<span class="required">*</span></label>
			    <input id="LastName" name="LastName" type="text" />
		    </li>

		    <li>
			    <label>Email<span class="required">*</span></label>
			    <input id="Email" name="Email" type="text" />
		    </li>

		    <li>
			    <label for="Password">Password<span class="required">*</span></label>
			    <input id="Password" name="Password" type="password" />
		    </li>

		    <li>
			    <label for="ConfirmPassword">Confirm Password<span class="required">*</span></label>
			    <input id="ConfirmPassword" name="ConfirmPassword" type="password" />
		    </li>

		    <li>
		      <label>Cell Phone Number</label>
		      <input id="CellPhone" name="CellPhone" class="phone" type="text" />
		      <span class="note">Used to send status information regarding trips.</span>
		    </li>
    
      </ul>

    </form>
</div>