<div id="userListTemplate" style="display:none;">
   {{#Users}}
      <div class="item userItem">
          <div class="row inner">
              
              <div class="span2">
                    <img src="/Image/View/{{Id}}?Type=User&MaxWidth=150&MaxHeight=150" alt="" />
              </div>
		
              <div class="span4">
                  <h1><a href="/User/Profile/{{Id}}">{{FirstName}} &nbsp;{{LastName}}</a></h1>
                  <ul>
                      <li><span>role:</span>{{RoleName}}</li>
                      <li><span>email:</span>{{Email}}</li>
                  </ul>
                  <a class="greenButton" href="/User/Emulate/{{Id}}">Sign In as</a>
              </div>
	  
          </div>
      </div>
    {{/Users}}
</div>