@{
    ViewBag.Title = "Oops, something isn't right...";
}

<div class="contentWrapper">
    
    <h2>Oops, something isn't right...</h2>

    <p>An unexpected error occurred. Don't worry, our staff has been notified with details of the problem.</p>

    <p>Please contact support if you would like any help!</p>

    <a href="#">Email Support</a>

</div>