@model CFC.Web.Mvc.Models.Navigation.View.PluginViewModel
@{
   
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../Content/css/bootstrap.css" rel="stylesheet" />
<style type="text/css">
    body
    {
        padding-bottom: 25px;
    }
</style>
<div class="navbar"/>
<div class="navbar-inner">
    <div class="container">
        <ul class="nav">
            <li>
                <a href="http://www.theriddlebrothers.com/">www.theRiddleBrothers.com </a>
            </li>
            <li></li>
            <li></li>
        </ul>
        <div class="span3">
        </div>
        <div class="span3">
        </div>
        <div class="btn-group" align="right">
            @using (Html.BeginForm())
          {
              foreach (var plugin in Model.Plugins)
              {
                  <a class="btn" href="@plugin">@plugin</a>
              }
          }
        </div>
    </div>
</div>

<div class="hero-unit">
    <div>
        <h1>
            The Riddle Brothers
        </h1>
        <p>
            Software Development
        </p>
    </div>
</div>
<div class="span6">
    <h3>
        Develop
    </h3>
     <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta rutrum
        est, sit amet lacinia ligula sollicitudin eget. Pellentesque adipiscing tellus tincidunt
        turpis pulvinar vestibulum. Suspendisse aliquam neque a nisi rutrum facilisis. Donec
        vel nisi nec augue tempus dictum ut vitae augue. Duis dignissim odio eu quam mollis
        faucibus dictum felis aliquet. Aenean dictum varius sodales. Vestibulum molestie
        molestie neque ut fermentum. Sed pellentesque consectetur leo, in lobortis nisl
        dignissim a. Aliquam eu magna vel purus cursus accumsan. Phasellus egestas, augue
        condimentum posuere dapibus, quam nibh dictum dui, nec imperdiet purus magna a metus.
        Sed nec pellentesque dolor. Aliquam nisl massa, consequat vel laoreet quis, bibendum
        eget magna.</p>
</div>
<div class="span6">
    <h3>
        Design
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta rutrum
        est, sit amet lacinia ligula sollicitudin eget. Pellentesque adipiscing tellus tincidunt
        turpis pulvinar vestibulum. Suspendisse aliquam neque a nisi rutrum facilisis. Donec
        vel nisi nec augue tempus dictum ut vitae augue. Duis dignissim odio eu quam mollis
        faucibus dictum felis aliquet. Aenean dictum varius sodales. Vestibulum molestie
        molestie neque ut fermentum. Sed pellentesque consectetur leo, in lobortis nisl
        dignissim a. Aliquam eu magna vel purus cursus accumsan. Phasellus egestas, augue
        condimentum posuere dapibus, quam nibh dictum dui, nec imperdiet purus magna a metus.
        Sed nec pellentesque dolor. Aliquam nisl massa, consequat vel laoreet quis, bibendum
        eget magna.</p>
</div>
<div class="span6">
    <h3>
        Test
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta rutrum
        est, sit amet lacinia ligula sollicitudin eget. Pellentesque adipiscing tellus tincidunt
        turpis pulvinar vestibulum. Suspendisse aliquam neque a nisi rutrum facilisis. Donec
        vel nisi nec augue tempus dictum ut vitae augue. Duis dignissim odio eu quam mollis
        faucibus dictum felis aliquet. Aenean dictum varius sodales. Vestibulum molestie
        molestie neque ut fermentum. Sed pellentesque consectetur leo, in lobortis nisl
        dignissim a. Aliquam eu magna vel purus cursus accumsan. Phasellus egestas, augue
        condimentum posuere dapibus, quam nibh dictum dui, nec imperdiet purus magna a metus.
        Sed nec pellentesque dolor. Aliquam nisl massa, consequat vel laoreet quis, bibendum
        eget magna.</p>
</div>
<div class="span6">
    <h3>
        Innovate
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta rutrum
        est, sit amet lacinia ligula sollicitudin eget. Pellentesque adipiscing tellus tincidunt
        turpis pulvinar vestibulum. Suspendisse aliquam neque a nisi rutrum facilisis. Donec
        vel nisi nec augue tempus dictum ut vitae augue. Duis dignissim odio eu quam mollis
        faucibus dictum felis aliquet. Aenean dictum varius sodales. Vestibulum molestie
        molestie neque ut fermentum. Sed pellentesque consectetur leo, in lobortis nisl
        dignissim a. Aliquam eu magna vel purus cursus accumsan. Phasellus egestas, augue
        condimentum posuere dapibus, quam nibh dictum dui, nec imperdiet purus magna a metus.
        Sed nec pellentesque dolor. Aliquam nisl massa, consequat vel laoreet quis, bibendum
        eget magna.</p>
</div>
