@import "Layout.less";
@import "UI.less";

body
{
    background: @brand-gray-3;
    font-family: CFCFont, Arial, sans-serif;
    height: 100%;
}

html
{
    width: 100%;
    height: 100%;
}


/* HEADER
 ***************************************/
header 
{
    background: black;
	font-size: 1.05em;
    height: 65px;
    position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 999;
    
    a {
        color: @brand-gray-4;
        text-decoration: none;
		font-size: 1em;
    }
    
    h1 
    {
		color: white;
        width: 40%;
		display: block;
		float: left;
		position: relative;
		top: 23px;
		left: 30px;
		
		
        a 
        {
            display:inline;
			color: @brand-green;
			font-weight: bold;
        }
		
		span
		{
			display: inline;
			margin: 0 5px 0 5px;
			color: @brand-lt-green;
			font-weight: normal;
		}
}

	#dashboardNavigation
    {
		background: @brand-black;
		display: block;
		float: left;
		height: 65px;
		width: 60%;
		
		#nav
		{
			position: relative;
			top: 15px;
			z-index: 1;
			
			img
			{
				display: block;
				position: absolute;
				left: -60px;
				top: -16px;
				z-index: 0;
			}
			
			a
			{
				color:  @brand-gray-4;
				text-decoration: none;
				font-weight: bold;
				margin-right: 20px;
				top:8px;
				position: relative;
				z-index: 1;
			}
	
			a:hover,
			a.active
			{
				color:  @brand-green;
			}
		}

    }
}

body.dashboard #utility
{
	position: absolute;
	right: 0;
	background: #3D3D3D;
	height: 65px;
	padding-right: 30px;
	z-index: 2;
	
	span
	{
		color: @brand-lt-green;
		position: relative;
		top: 20px;
	}

	img
	{
		position: absolute;
		left: -70px;
		top: -1px;
		z-index: 0;
	}
	
	a
	{
		position: relative;
		z-index: 1;
		color: @brand-gray-4;
		font-size: .85em;
		top: 22px;
		margin-right: 10px;
		
	}
	
	a.logout
	{
		background: @brand-gray-4;
		color: @brand-black;
		padding: 3px 10px 4px 10px;
		text-align: center;
		.rounded-corners();
		font-style: italic;
	}
	
	a.logout:hover {  background: @brand-gray-5; }
	
	.utilityNavClose{
		position: absolute;
		top: 5px;
		left: -48px;
	}

}

#toolbar
{
	width: 100%;
	background: white url(images/toolbar_shadow.jpg) repeat-x;
	background-position: 0 30px;
	height: 38px;
	position: fixed;
	top: 65px;
	z-index: 999;
	
	#toolbarActions
	{
	
		position: absolute;
		top: 0;
	    height: 30px;
        overflow:hidden;
		left: 27%;
		padding:3px 0 0 1em;
		width:70%;
		
		a
		{
			background: @brand-gray-5;
			color: @brand-black;
			.rounded-corners(10px);
			padding: 6px 10px 6px 10px;
			text-align: center;
			font-size: .9em;
			float: left;
			display: inline
		}
		
		label {
            display:inline-block;
            /* Bottom margin pushes other labels past #toolbarActions overflow when window size is small */
            margin:0 2em 1em 0;
            width:auto;
        }
		
		input, select
		{
		    width:auto;
        }
	}
	
	
}


/* BODY
 ***************************************/
 
 #main
 {
     width: 100%;
     height: 100%;
 }
 
 #mainContent
 {
     font-size:0.9em;
     height: 100%;
     padding-bottom: 75px;
     padding-top: 100px;
     width: 100%;
 }
 
.dashboard-links a 
 {
    background:#EAEAEA no-repeat center 2em;
    color:#757575;
    float:left;
    font-size:1.4em;
    height:2em;
    margin:1em;
    padding:5em .5em .5em .5em;
    text-align:center;
    width:150px;
    
    &:hover 
    {
        background-color:#F7F7F7;
        text-decoration:none;
    }
}


.dashboard-links a.schedule { background-image: url(../img/schedule.png); }
.dashboard-links a.page { background-image: url(../img/page.png); }
 
 .item
	{
		.rounded-corners-diagonal(12px);
		.dropshadow(0px, 0px, 10px, #111);
		background: @brand-gray-5;
		width: 550px;
		height:  280px;
		display: block;
		float: left;
		margin: 15px 0 0 15px;
		position: relative;
		z-index: 999;
		overflow: hidden;

		.inner{ padding: 10px 10px; }
		
		
		
		h1{ 
			color: @brand-black; 
			margin-bottom: .3em;
			
			a{
				color: inherit;
			}
		 }
		
		ul
		{
			padding: 0;
			margin: 0;
			line-height: 14px;
			
			li {
				margin: 0;
				color: @brand-black;
				
				span
				{
					color: @brand-gray-1;
					font-style: italic;
					font-weight: normal;
					margin-right: 10px;
				}
			}
			
			
		}
		
		ul.itinerary li 
		{
			display: block;
			
			
			span.left {
				width: 10%;
				text-align: right;
				display: block;
				float: left;
			}
			
			span.right
			{
			    float: left;
			    display: block;
			    width: 80%;
			    color: @brand-black;
			    font-style: normal;
			}
			
		}
		
		ul.carExtras
		{
			background: @brand-gray-6;
			padding: 3px 15px 3px 5px;
			.rounded-corners-diagonal(5px);
			font-weight: bold;
			clear: both;
			display: block;
			/*height: 20px;*/
			margin: 15px 0 15px 0;
			float: left;
			width: 90%;
			
			
			li
			{
				float: left;
				margin-right: 5px;
				
				span
				{
					font-weight: normal;
					font-style: italic;
					color: @brand-gray-2;
					margin-right: 5px;
				}
				
			}
			
		}
		
		ul.tripInfo
		{
			li span.now
			{
				font-weight: bold;
				color: @brand-red;
				font-style: italic;
			}
		}
		
		
		
		.icon
		{
			width: 50px;
			float: left;
			margin-top: 23px; 
			
			.iconImage
			{
				width: 42px;
				height: 60px;
				display: block;
				background: transparent url(/Content/img/rider_user_gray.png) no-repeat;
				margin-bottom: 0;
			}
			
			.iconImage.immediate
			{
				background: transparent url(/Content/img/rider_user_red.png) no-repeat;
			}
			
			small{ color: @brand-gray-1; font-size: .8em; }
		}
		
		
		
		.itemLeft
		{
			float: left;
			margin: 23px 0 0 0;
			height: 100%;
			width: 50%;
			position: relative;

		}
		
		.topLeft
		{
			background: @brand-gray-6;
			.rounded-corners-bottom-right();
			padding: 4px 10px 3px 4px;
			position: absolute;
			top: 0;
			left: 0;
			text-align: left;
			
			.countdown
			{
				float: left;
				color: @brand-gray-2;
				width: auto;
				font-weight: normal;
				font-style: italic;
				
				
				.remaining
				{
					color: @brand-red;
					margin-right: 3px;
					font-weight: bold;
					font-style: normal;
					margin-left: 8px;
				}
			}
		}
		
		.extraButtons
		{
			position: absolute;
			bottom: 0;
			left: 0;
			.rounded-corners-diagonal();
			background: @brand-gray-6;
			padding: 4px 4px 4px 4px;
			z-index: 0;
			text-align: left;
			border-bottom: 1px solid @brand-gray-5;
			
			a{
				color: @brand-gray-1;
				padding: 3px 10px 3px 10px;
				font-style: italic;
				font-size: .9em;
			}
		}
		
		
		
		.bidArea
		{
			width: 36%;
			height: 100%;
			background: @brand-gray-6;
			position: absolute;
			top: 0;
			right: 0;
			padding: 5px;
			text-align: center;
			.dropshadow(-3px, 0, 5px, @brand-gray-3);
			z-index:2;
			
			label
			{
				font-size: 1.3em;
				font-weight: bold;
				color: @brand-gray-3;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				padding: 10px 0 6px 0;
				text-align: center;
			}
			
			div.hourly
			{
				font-weight: normal;
				text-align:center;
				color: @brand-gray-5;
				position: absolute;
				bottom: 55px;
				width: 100%;
				text-align: center;
			}
			
			.bidAmount
			{
				width: 100%;
				height: 100%;
				position: relative;
				display: block;
				text-align: center;
				z-index: 5;
				
				.center
				{
					width: 100%;
					font-size: 4.6em;
					font-weight: bold;
					vertical-align:middle;
					text-shadow: 1px 1px 5px #aaaaaa;
					display: block;
					position: absolute;
					top: 35%;
					padding-bottom: 25px;
					letter-spacing: 0px;
				}
			}
			
				
			.bidAmount.winning {color: @brand-green}
            .bidAmount.outbid {color: @brand-red}
			
			.bidAmount.noBid 
			{
				.center
				{
					font-size: 2.5em;
					color: @brand-gray-2;
					font-style: italic;
					text-shadow: 0px 0px 3px #bbb;
				}
			}	
			
			.bidActions
			{
				position: absolute;
				bottom: 20px;
				width: 100%;
				left: 0;
				text-align: center;
				height: 30px;
				z-index: 99;
				
				.bidActionsInner
				{
					margin: 0 auto;
					display: block;
					text-align:center;
					width: 100%;

					a
					{
						background: @brand-green;
						padding: 10px 8px 10px 8px;
						color: @brand-gray-7;
						display: block;
						margin: 0 auto;
						font-weight: bold;
						font-size: .8em;
						border: none;
						text-align: center;
						width: 80%;
						.rounded-corners-diagonal(5px);
					}
					
					a:hover
					{
						background: @brand-lt-green;
						color: @brand-green;
					}
					
					
				}
				
				
			}
		}
		
		
	}
 
.grid
{

	width: 100%;
	display: block;
	
	.item
	{
		z-index: 1;
		.dropshadow(0px, 0px, 5px, #666);
		
	}
}

.item.userItem,
.item.companyItem
{
	height: 100px;
	
	.actions
	{
		float: right;
		margin: 10px 0px 0 0;
	}
}

.item.userItem {
    height:170px;
    .greenButton {
        position:absolute;
        bottom:1em;
        right:1em;
    }
}



/* DISPATCH MAP
 ***************************************/
 #map
 {
	 position: absolute;
	 z-index: 3;
	top: 0;
	left: 0;
	overflow:hidden;
	width: 100%;
	height: 100%;
	
	.InfoWindow
	{
		font-size: .6em;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
 }

 
 #sidebar
 {
    position: fixed;
    right: 0px;
    top: 65px;
    background: transparent;
    height: 100%;
    overflow:hidden;
    overflow-x:scroll;
    z-index: 1005;
    width: 35%;

 	#sidebarToolbar
	{
		background: @brand-green;
		position: absolute;
		top: 38px;
		width: 100%;
		height: 25px;
		z-index: 999;
		
		a {
		
			display: block;
			padding: 5px 10px 5px 15px;
			color: @brand-gray-1;

			text-align: center;
			float: right;
			background: @brand-lt-green;
		

		}
		
		a.viewAllBids{display: none}
	}
	
 	.panel
	{
		overflow: auto; overflow-x: hidden; 
		height: 82%;
		padding-right: 10px;
		margin-top: 25px;
		margin-right: 0;
		
	}
	
 	#sidebarInner
	{
		background: @brand-black;
		width: 98%;
		height: 100%;
		padding: 0 0px 50px 10px;
		
		.caption
		{
			padding: 8px 0 8px 0;
			margin-top: 15px;
			background: @brand-gray-5;
			
			li {
				font-size: .8em;
				color: @brand-black;
				margin: 0;
				padding: 0;
				list-style: none;
				margin-left: 10px;
			}
		}
	}
 
	    
	.panel
	{
	    display: none;
	}
	.panel.active
	{
		display: block;
	}
	
 
 }
 
 
 
 
#sidebar #tripList,
#sidebar #bids
{
	
	
	.item:hover
	{
		background: @brand-gray-7;
	}
	.item
	{
		.rounded-corners-diagonal(12px);
		.dropshadow();
		background: @brand-gray-5;
		width: 100%;
		height:  180px;
		display: block;
		margin: 10px 0 0 0;
		position: relative;

		.inner{ padding: 7px 5px; }
		
		h1 {
            color: @brand-black; 
            margin-bottom: .3em; 
        }
		
		.itemLeft
		{
			width: 60%;
			float: left;
			display: block;
		}
		
		ul
		{
			padding: 0;
			margin: 0;
			line-height: 14px;
			
			li {
				font-size: 0.9em;
				margin: 0;
				color: @brand-black;
				
				span
				{
					color: @brand-gray-1;
					font-style: italic;
					font-weight: normal;
					margin-right: 10px;
				}
			}
			
			
		}
				
		
		.icon
		{
			width: 25px;
			float: left;
			
			.iconImage
			{
				width: 22px;
				height: 60px;
				display: block;
				background: transparent url(images/rider_user_gray_small.png) no-repeat;
				margin-bottom: 0;
			}
			
			.iconImage.immediate
			{
				background: transparent url(images/rider_user_red_small.png) no-repeat;
			}
			
			small 
			{
			    display:none
		    }
		}
		
		.topLeft
		{
			background: @brand-gray-6;
			.rounded-corners-bottom-right();
			padding: 4px 10px 3px 4px;
			position: absolute;
			top: 0;
			left: 0;
			
			.countdown
			{
				float: left;
				color: @brand-gray-2;
				width: auto;
				font-weight: normal;
				font-style: italic;
				
				
				.remaining
				{
					color: @brand-red;
					margin-right: 3px;
					font-weight: bold;
					font-style: normal;
					margin-left: 8px;
				}
			}
		}
		
		ul.carExtras
		{
			background: @brand-gray-6;
			padding: 3px 15px 3px 5px;
			.rounded-corners-diagonal(5px);
			font-weight: bold;
			clear: both;
			display: block;
			/*height: 20px;*/
			margin: 5px 0 10px 0;
			float: left;
			width: 95%;
			
			
			li
			{
				float: left;
				margin-right: 5px;
				
				span
				{
					font-weight: normal;
					font-style: italic;
					color: @brand-gray-2;
					margin-right: 5px;
				}
				
			}
			
		}
		
		ul.itinerary
		{
			display: none;
		}
		
		.bidArea
		{
			
			
			label
			{
				font-size: 1em;
			}
			
			div.hourly
			{
				font-weight: normal;
				text-align:center;
				color: @brand-gray-1;
				margin-top: -15px;
				font-style: italic;
				margin-bottom: 5px;
			}
			
			.bidAmount
			{
				.center
				{
					font-size: 4em;
					top: 25%;
				}			
				
			}
			
			.bidAmount.noBid
			{
				padding: 22px 0 28px 0;
				font-size: .5em;
				color: @brand-gray-3;
				font-style: italic;
			}
			
			a.bid
			{
				width: 65%;
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.item.single
{
	height:250px;
	
	.itemLeft,
	.icon
	{
		margin-top: 0px;
	}
	
	.bidAmount
	{
		.center
		{
			color: @brand-red;
			font-size: 2.5em;
		}
	}
}

.item.riderBid
{
	.icon,
	.itemLeft
	{
		margin-top: 0px;
	}
}
 
 
footer
{
    position: fixed;
	width: 100%;
	padding: 10px;
	bottom: 0;
	z-index: 9999;
	background: @brand-black;
	font-size: .7em;
	color: @brand-gray-6;
	clear: both;
	.dropshadow(0px, 0px, 3px, #333333);
}
.footer
{
	clear: both;
	
}

.clear
{
clear: both;
}

.alertPanel
{
position: absolute;
top: 102px;
left: -200px;
z-index: 1300;
width: 200px;
height: 84%;
background: black;


	.alertPanelInner
	{
		overflow-y: auto;
		overflow-x: hidden;
		width: 90%;
		overflow: hidden;
		display: block;
	
	}
	
	#alertList .item
	{
		width: 100%;
		height: auto;
		padding: 10px;
		background: @brand-gray-6;
		margin-bottom: 0px;
	}	
	
	

	a.alertPanelTab
	{
		position: absolute;
		top: 25px;
		right: -90px;
		background: black;
		padding: 20px;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}


