@model CFC.Web.Mvc.Models.Utility.UtilityViewModel

<div id="utility">

    <img src="/Content/css/images/nav_diag_gray.png" />
    @if (Model.IsLoggedIn)
    {
        @Html.ActionLink(Model.Email, "Profile", "User")
        
        @Html.ActionLink("Logout", "Index", "Logout", null, new { @class = "logout" })
        if (Model.IsEmulatedSession)
        {
        
            @Html.ActionLink("Back to Admin", "Return", "User", null, new { @class="logout" })
        }
    }
    else
    {
        <a id="login" href="#">Sign In</a>
    }
</div>

<script>

    var utilityNavOn = true;
    $(".utilityNavClose").live('click', function (e) {
        
        if (utilityNavOn == true) {
            $("#utility").animate({
                left: "+=380"
            });
            $(this).text("+");
            utilityNavOn = false;
        } else {
            $("#utility").animate({
                left: "-=380"
            });
            $(this).text("-");
            utilityNavOn = true;
        }
        e.preventDefault();
    });
</script>