    <footer>
            <section class="copy">
                &copy; 2012 The Riddle Brothers
            </section>
        </footer>
        
        <!-- Global JS Templates -->
        <script id="errorTemplate" type="text/x-jquery-tmpl">  
            <li>  
                ${Message}
            </li>  
        </script>  
        
    </body>
</html>
