@model CFC.Web.Mvc.Models.User.UserListViewModel

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contentWrapper">
    
    <h2>Driver Check-Ins</h2>
    <form class="well" action="#" method="post">
        
        <p>Check your current user into a vehicle.</p>
        <label>Vehicle ID</label>
        <input name="vehicle" type="text" value="" />
        
        <button id="checkin" class="btn" type="submit">Check In</button>
    </form>
    
    
    <form class="well" action="#" method="post">
        <p>Check your current user out of all vehicles.</p>
        <button id="checkout" class="btn" type="submit">Check Out</button>
    </form>
    
    <div class="well">
        <p>Server Response:</p>
        <textarea id="response">
        </textarea>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        $('#checkin').click(function (e) {
            e.preventDefault();
            var driverId = $(this).siblings('input[name="driver"]').val();
            var vehicleId = $(this).siblings('input[name="vehicle"]').val();
            CFC.SendApiRequest('/Vehicle/Checkin', { DriverId: driverId, VehicleId: vehicleId }, 'POST', function (response) {
                console.log(response);
                $('#response').val(JSON.stringify(response));
            });
        });

        $('#checkout').click(function (e) {
            e.preventDefault();
            var driverId = $(this).siblings('input[name="driver"]').val();
            CFC.SendApiRequest('/Vehicle/Checkout', { DriverId: driverId }, 'POST', function (response) {
                $('#response').val(JSON.stringify(response));
            });
        });

    });
</script>